*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-sarif';
}



.conatainer{
    width: 100%;
    height:100vh;
    background: linear-gradient(135deg, #153667, #4e085f);
    padding: 10px;
}

.todo_app{
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: #fff;
}

.todo_app h2{
    color: #002765;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.todo_app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content:space-between;
    align-items:center ;
    background-color: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    background: transparent;
}

.row button{
    border: none;
    outline: none;
    background-color: #ff5945;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 50px;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}


@media (max-width: 768px) {
    .row{
        display: flex;
        justify-content:space-between;
        align-items:center ;
        background-color: #edeef0;
        border-radius: 25px;
        padding-left:3px;
        margin-bottom: 20px;
    }

    .todo_app h2{
        font-size: 30px;
        align-items: center;
    }
    
    .row button{
        border-radius: 50px;
        padding: 15px 45px;
        font-size: 18px;
    }

    input{
        font-size: 15px;
    }
}